@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,300&display=swap');

* {
    padding: 0px;
    margin:0px;
    box-sizing: border-box;   
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background: transparent;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    cursor: pointer;
}
.navbar a{
    position: relative;
    font-size: 18px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin-left: 40px;
}
.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: bisque;
    transition: .3s;
}
.navbar a:hover::before{
    width: 100%;
}
.right{
    float: right;
   padding-top: 45px;
   padding-left: 800px;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
    padding-top: 200px;
    padding-left: 250px;
}
.container .card{
    position: relative;
    width: 600px;    
    height: 250px;
    margin: 30px;
    box-shadow: 200px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center; align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
}

.container .card .content h2{
    color: white;
    z-index: 1;
    text-align: center;
}
.container .card .content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: white;
    color: black;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bolder;
    box-shadow: 0 5px 15pxrgba(0 , 0 , 0, 0.2);
    font-family: 'Bricolage Grotesque', sans-serif;
}
